@import '../../styles/base/variables';

.vote {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.voteIcon {
  padding: .4rem;

  &:hover {
    cursor: pointer;
  }
}

.upvote {
  &:hover {
    color: $clr-green-700;
  }
}

.downvote {
  &:hover {
    color: $clr-red-700;
  }
}
