@import '../../styles/base/variables';

.questionDetails {
  padding: $content-padding;

  .viewSolution {
    &.correctAnswer {
      color: $clr-green-700;
    }

    &.wrongAnswer {
      color: $clr-red-700;
    }
  }
}
