@import '../../styles/base/variables';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;

  .contentWrapper {
    flex: 1;
  }

  footer {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 18px 0;
    border-top: 1px solid $border-color;
    font-size: 13px;
    color: $text-color-secondary;

    a {
      margin-left: .5ch;

      &:first-child {
        margin-right: .5ch;
      }
    }
  }
}
