@import '../../../styles/base/variables';

.topBar {
  padding: 1rem 2rem;
  background: $top-bar-color;
  color: $link-color-secondary;

  nav {
    display: flex;
    justify-content: space-between;

    a {
      margin-right: 1.5rem;
      color: $link-color-secondary;
      padding: .3rem 0;

      &:hover {
        border-bottom: 1px solid $link-color-secondary;
      }
    }
  }
}
