@import '../../styles/base/variables';

.home {
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(480px - 60px);
    background: $hero-color;

    h1 {
      font-weight: 700;
      color: $text-color;
    }

    h4 {
      color: $text-color-secondary;
      font-weight: 400;
    }
  }

  main {
    display: flex;
    flex-flow: row wrap;
    min-width: 960px;
    max-width: 960px;
    margin: 0 auto;
    padding: 96px 0;
  }
}
