@import '../../styles/base/variables';

.register {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: $content-padding;

  .registerButton {
    margin-top: 2rem;
    margin-bottom: 1rem;
    max-width: 200px;
  }
}
