@import 'variables';
@import '../fontello/ts-icons';

html {
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

body {
  color: $text-color;
  line-height: 1.333;
}

h1 {
  font-size: 3.998em;
  margin-top: 0;
}

h1,
h2 {
  font-size: 2.827em;
}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

a {
  color: $link-color;

  &:hover {
    color: darken($link-color, 10%);
  }

  &.active {
    color: darken($link-color, 10%);
  }
}
