//////////////
//  COLORS  //
//////////////

// http://www.material-ui.com/#/customization/colors
$clr-blue-200: #bbdefb;
$clr-blue-700: #1976d2;
$clr-green-700: #388e3c;
$clr-grey-50: #fafafa;
$clr-grey-200: #eee;
$clr-grey-700: #616161;
$clr-grey-900: #212121;
$clr-light-blue-900: #01579b;
$clr-indigo-300: #7986cb;
$clr-red-700: #d32f2f;

$border-color: $clr-grey-200;
$divider-color: $clr-grey-200;
$hero-color: $clr-blue-200;
$link-color: $clr-blue-700;
$link-color-secondary: $clr-grey-50;
$text-color: $clr-grey-900;
$text-color-secondary: $clr-grey-700;
$top-bar-color: $clr-light-blue-900;


///////////////
// VARIABLES //
///////////////

$content-padding: 2rem;
